<%= form_for @contact, :remote=>true, :html => { :id => @form_name } do |f| %>
	<%= f.label "Name" %>
	<%= f.text_field :name, :size => 80 %>
	<%= f.label "Email" %>
	<%= f.text_field :email, :size => 80 %>
	<%= f.label "Phone" %>
	<%= f.text_field :phone, :size => 15 %>	
	<%= f.label "Address" %>
	<%= f.text_area :address, :size => 80 %>	
	<%= f.label "Billable Contact" %>
	<%= f.check_box :billable %>
	<%= hidden_field_tag 'sid', @sid %>

	<div class="submit-load-group">
		<%= f.submit %>
		<%= render :partial =>'shared/form_loader' %>
	</div>
	<%= render :partial =>"shared/form_error" %>
	<%= render :partial =>'shared/success' %>
<% end %>
