<div id="page-title"><h1>Dashboard</h1></div>

<div id="main">
	<div id="common-tasks">
		<div class="common-task-item">
			<div id="review-students-tab" meta-tab="review-students" class="task active">Students</div>
			<div id="review-lessons-tab" meta-tab="upcoming-lessons-all" class="task">Lessons</div>
			<div id="review-purchases-tab" meta-tab="review-purchases" class="task">Purchases</div>		
		</div>
	</div>
	<div id="tasks-tabs-wrapper">
		<div id="inner-tab-wrapper">
			<div id="review-students" class="tab-page active">
				<%= render 'inner_tab' %>
				<div id="new-student-link" class="new-button-link"><a>New Student</a></div>	
				<div class="dashboard-link"><%= link_to 'Students Dashboard', students_path %></div>				
			</div>
			<div id="upcoming-lessons-all" class="tab-page">
				<%= render 'inner_tab' %>
				<div id="new-lesson-link" class="new-button-link"><a>New Lesson</a></div>		
				<div class="dashboard-link"><%= link_to 'Lessons Dashboard', lessons_path %></div>
			</div>
			<div id="review-purchases" class="tab-page">
				<%= render 'inner_tab' %>
				<div id="new-purchase-link" class="new-button-link"><a>New Purchase</a></div>		
				<div class="dashboard-link"><%= link_to 'Purchases Dashboard', purchases_path %></div>
			</div>			
		</div>
	</div>


</div>